<nav class="nav  nav--categories">
  <ul class="list  list--categories">
    {% for item in site.categories %}
      <li class="item">
          <a href="#{{ item | first | slugify }}" title="Category - {{ item | first }}">{{ item | first }}</a>
      </li>
    {% endfor %}
  </ul>
</nav>


{% if site.owner.twitter %}
  <a href="https://twitter.com/{{site.owner.twitter}}" class="btn btn-info button-twitter" data-show-count="false" data-size="large"><i class="fa fa-twitter"></i> <span> | Follow @{{site.owner.twitter}}</span></a>
{% endif %}
